In [133]:
# Install the pandas library using pip
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.1.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [134]:
# Upgrade pip to the latest version
pip install --upgrade pip

SyntaxError: invalid syntax (676572543.py, line 2)

In [ ]:
# Import the pandas library and alias it as pd
import pandas as pd

In [ ]:
# Read a CSV file named "data.tsv.txt" using '@' as the separator and store it in the dataframe df
df= pd.read_csv("data.tsv.txt", sep="@")

In [ ]:
# Display the first five rows of the dataframe df
df.head()

In [ ]:
# Read another CSV file named "Sales Transactions-2017.csv" and store it in the dataframe df_1
df_1=pd.read_csv("Sales Transactions-2017.csv")

In [ ]:
df_1.head()

In [ ]:
# Display the first five rows of the dataframe df_1

df["choice_description"].unique()

In [ ]:
# Get unique values from the "choice_description" column in the dataframe df
df["choice_description"].unique()

In [ ]:
# This tells us the number of unique elements present in it
len(df["choice_description"].unique())

In [ ]:
#Get the number of unique values in the "choice_description" column of the dataframe df
df["choice_description"].nunique()

In [ ]:
df.head(5)

In [ ]:
# Access the "item_price" column of the dataframe df
df["item_price"]

In [ ]:
# Read a CSV file named "Euro_2012_stats_TEAM.csv" and store it in the dataframe df_2
df_2=pd.read_csv("Euro_2012_stats_TEAM.csv")

In [ ]:
df_2.head()

In [ ]:
# Get the shape (number of rows and columns) of the dataframe df_2
df_2.shape

In [ ]:
# Get the data types of each column in the dataframe df_2
df_2.dtypes

In [ ]:
# Get the number of missing values in each column of the dataframe df_2
df_2.isnull().sum()

In [ ]:
# Get a concise summary of the dataframe df_2
df_2.info()

In [ ]:
# Create a boolean mask for rows where the "Goals" column is greater than 5 
df_2["Goals"]>5

In [ ]:
# Filter the dataframe df_2 for rows where the "Goals" column is greater than 5
df_2[df_2["Goals"]>5]

In [ ]:
# Create a boolean mask for rows where the "Shots on target" column is less than 20
df_2['Shots on target']<20

In [ ]:
# Filter the dataframe df_2 for rows where the "Shots on target" column is less than 20
df_2[df_2['Shots on target'] < 20]

In [ ]:
df_2['Team','Goals','Yellow Cards','Red Cards']

In [ ]:
#Select the "Team", "Goals", "Yellow Cards", and "Red Cards" columns from the dataframe df_2
df_2[['Team', 'Goals', 'Yellow Cards', 'Red Cards']]

In [ ]:
# Filter the dataframe df_2 for rows where the "Team" column is 'France'
df_2[df_2["Team"] == 'France']

In [ ]:
df_2.head()

In [ ]:
# Sort the dataframe df_2 by the "Goals" column in descending order
df_2.sort_values(by="Goals",ascending= False)

In [ ]:
# Sort the dataframe df_2 by the "Yellow Cards" column in descending order
df_2.sort_values(by="Yellow Cards", ascending=False)

In [ ]:
# Create a boolean mask for rows where the "Yellow Cards" column is greater than 8
df_2['Yellow Cards'] > 8

In [ ]:
# Filter the dataframe df_2 for rows where the "Yellow Cards" column is greater than 8
df_2[df_2['Yellow Cards']>8]

In [ ]:
df_2[df_2['Goals']>5]

In [ ]:
# Filter the dataframe df_2 for rows where the "Goals" column is greater than 5
(df_2['Yellow Cards']>8) & (df_2['Goals']>5)

In [ ]:
# Create a boolean mask for rows where the "Yellow Cards" column is greater than 8 and the "Goals" column is greater than 5
df_2[(df_2['Yellow Cards']>8) | (df_2['Goals']>5)]

In [ ]:
# Select the first 10 rows and the first 5 columns from the dataframe df_2
df_2.iloc[0:10,0:5]

In [ ]:
# Select rows with indices 2 and 3 from the dataframe df_2
df_2.loc[[2,3]]

In [ ]:
# Delete the "Shooting Accuracy" column from the dataframe df_2
del df_2['Shooting Accuracy']

In [ ]:
df_2.head()

In [ ]:
# Drop the "Offsides" column from the dataframe df_2 and update the dataframe
df_2=df_2.drop(labels='Offsides',axis=1)

In [ ]:
df_2.head()

In [ ]:
a=[10,20,30,40]
type(a)

In [ ]:
#convert it  in to series
b=pd.Series(a)

In [ ]:
type(b)

In [ ]:
learner_list={'Name':['sai',"Deva","Daniel"], 'University':[ "Fau" ,"UNT","NJIT"]}
learner_list

In [ ]:
df_learner=pd.DataFrame(learner_list)
df_learner

In [ ]:
type(df_learner)

In [ ]:
#Python documentation

In [ ]:
df_3=pd.read_csv("student-mat.csv")
df_3

In [ ]:
df_3.dtypes

In [ ]:
df_3.isnull().sum()

In [ ]:
df_3["age"]=df_3["age"]+2

In [ ]:
df_3

In [ ]:
df_3['famrel']= df_3['famrel']+2
df_3['famrel']

In [ ]:
df_3

In [ ]:
df_3['Mjob'].upper

In [ ]:
df_3['Mjob'].str.upper()

In [ ]:
df_3.['Mjob']

### Create a new column "Eligibility_Criteria" if age is > 18 Eligibile (1) else not Eligibile(0)

In [ ]:
df_3['Eligiblity_Criteria']=df_3['age'].apply(lambda x:1 if x >= 18 else 0)

In [ ]:
df_3['Eligiblity_Criteria']

In [ ]:
df_eleigible=df_3['Eligiblity_Criteria']>1

In [ ]:
df_eleigible

In [ ]:
insurance_df=pd.read_csv("insurance.csv")
insurance_df

In [ ]:
insurance_df["region"].unique()