# Chapter 1

## Variables:

*  Variables are used to store data in a program.
*  They're like containers that hold information which can be referenced and manipulated.
*  In Python, you donâ€™t need to declare the type of variable; you just assign a value to it.

### Rules of Declaring a Variable:


* Must begin with a letter (a-z, A-Z) or an underscore (_).
* Other characters can be letters, numbers, or underscores.
* Variable names are case-sensitive.
* Cannot be a reserved word (e.g., if, else, for).
* Examples: age, _name, address123

In [31]:
print("Hi Welocome to Nasirs Class")

Hi Welocome to Nasirs Class

In [19]:
a=10

In [20]:
print(a)

10

In [160]:
a=200
b=3000
b
a

200

In [32]:
price=10

In [33]:
print(f'{price} $' )

10 $

In [36]:
_a=10

In [38]:
type(a)

int

In [39]:
# print("A")

In [40]:
b=1.5

##### Lower_case - Upper_case

In [64]:
First_name= " DEVA "

In [65]:
First_name=First_name.lower()

In [66]:
First_name

' deva '

In [67]:
First_name.upper()

' DEVA '

In [73]:
First_name.count('D')

0

In [71]:
First_name

' deva '

In [72]:
First_name.count('N')

0

# Python Comments:

### Comments are used to explain code and make it more readable. They are ignored by the Python interpreter.

In [162]:
# This is a single-line comment
'''
This is a
multi-line comment
'''

'\nThis is a\nmulti-line comment\n'

# Operators

#####  "Operators are used to perform operations on variables and values. There are different types of operators in Python:

* Arithmetic operators like +, -, *, / for mathematical operations.
* Comparison operators like ==, !=, >, < to compare values.
* Logical operators like and, or, not for boolean logic.
* Assignment operators like =, +=, -= to assign values to variables.
* Each operator has a specific function and is essential for creating meaningful expressions in your code."

Operators in Python
Operators in Python are symbols used to perform operations on variables and values. They are essential for creating meaningful expressions in code. Here are the different types of operators covered in this section:

# Arithmetic operators

In [145]:
# Arithmetic Operators
a = 10
b = 3
print(a + b)  # 13
print(a - b)  # 7
print(a * b)  # 30
print(a / b)  # 3.333
print(a % b)  # 1
print(a ** b) # 1000
print(a // b) # 3

13
7
30
3.3333333333333335
1
1000
3

# 2. Comparison Operators:



  * == (Equal to): Checks if two values are equal.
  * != (Not equal to): Checks if two values are not equal.
* >(Greater than): Checks if the left value is greater than the right.
  * < (Less than): Checks if the left value is less than the right.

In [31]:
 # Examples:


a = 10

# Comparison
a == 10  # True

True

#3. Assignment Operators
# Assignment operators are used to assign values to variables.

Assignment (=): Assigns a value to a variable.
Example: x = 5

Add and assign (+=): 
Adds and assigns the value.
Example: 
x += 3 (equivalent to x = x + 3)

Subtract and assign (-=):
 Subtracts and assigns the value.
Example: 
x -= 3 (equivalent to x = x - 3)

Multiply and assign (*=):
 Multiplies and assigns the value.
Example: 
x *= 3 (equivalent to x = x * 3)

Divide and assign (/=):
 Divides and assigns the value.
Example:
x /= 3 (equivalent to x = x / 3)

Modulus and assign (%=): 
Performs modulus and assigns the value.
Example:
 x %= 3 (equivalent to x = x % 3)

Exponentiation and assign (=)**:
 Raises to the power and assigns the value.
Example: 
x **= 3 (equivalent to x = x ** 3)

Floor Division and assign (//=):
 Performs floor division and assigns the value.
Example: 
x //= 3 (equivalent to x = x // 3)

# Logical Operators
Logical operators are used to perform logical operations.

And (and): Returns True if both statements are true.
Example: 

x > 3 and x < 10
    
Or (or): Returns True if one of the statements is true.
Example: x > 3 or x < 4
    
Not (not): Reverses the result, returns False if the result is true.
Example: not(x > 3 and x < 10)

# Bitwise Operators
Bitwise operators are used to perform bit-level operations.

AND (&): 
Sets each bit to 1 if both bits are 1.
Example: 
    5 & 3 results in 1
    
OR (|): 
    Sets each bit to 1 if one of two bits is 1.
Example:
    5 | 3 results in 7
    
XOR (^):
    Sets each bit to 1 if only one of two bits is 1.
Example:
    5 ^ 3 results in 6
    
NOT (~):
    Inverts all the bits.
Example: 
    ~5 results in -6
    
Left Shift (<<): 
    Shifts bits to the left.
Example:
    5 << 1 results in 10
    
Right Shift (>>):
    Shifts bits to the right.
Example: 
    5 >> 1 results in 2

# Membership Operators

Membership operators are used to test if a sequence is presented in an object.

In: Returns True if a sequence with the specified value is present in the object.
Example: "a" in "apple" is True
Not in: Returns True if a sequence with the specified value is not present in the object.
Example: "a" not in "banana" is False

# Identity Operators


Identity operators are used to compare the objects,
not if they are equal, but if they are actually the same object,
with the same memory location.

Is: Returns True if both variables are the same object.
    
Example: x is y
    
Is not: Returns True if both variables are not the same object.
    
Example: x is not y
    
Example:

In [155]:
# example for all the above:


# Comparison Operators
print(a == b)  # False
print(a != b)  # True
print(a > b)   # True
print(a < b)   # False
print(a >= b)  # True
print(a <= b)  # False

False
True
True
False
True
False

In [154]:
# Assignment Operators
c = 5
c += 2  # c = c + 2
print(c)  # 7
c -= 2  # c = c - 2
print(c)  # 5

7
5

In [74]:
# Logical Operators
x = True
y = False
print(x and y)  # false
print(x or y)   # true
print(not x)    # false

False
True
False

In [152]:
# Bitwise Operators
print(a & b)  # 2
print(a | b)  # 11
print(a ^ b)  # 9
print(~a)     # -11
print(a << 1) # 20
print(a >> 1) # 5

2
11
9
-11
20
5

In [150]:
# Membership Operators
str1 = "Hello"
print("H" in str1)  # True
print("Z" not in str1)  # True

True
True

In [151]:
# Identity Operators
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)  # True
print(x is y)  # False
print(x == y)  # True

True
False
True

* Few more examples:

In [57]:
a=input("Enter the first num")
b=input("Enter the second num")

sum=a+b

print(sum)

Enter the first num10
Enter the second num23
1023

In [58]:
a=int(input("Enter the first num"))
b=int(input("Enter the second num"))

sum=a+b

print(sum)

Enter the first num12
Enter the second num12
24

In [59]:
a=input("Enter the first num")
b=input("Enter the second num")

sum=int(a)+int(b)

print(sum)

Enter the first num12
Enter the second num32
44

In [60]:
First_name="Divya"

In [61]:
Last_name="Prakash"

In [62]:
Full_name=First_name+ " "+Last_name

In [63]:
Full_name

'Divya Prakash'

In [64]:
print('Welcome'+" "+ Full_name+" "+"to Nasir class")

Welcome Divya Prakash to Nasir class

In [65]:
print('Welcome',Full_name,"to Nasir class")

Welcome Divya Prakash to Nasir class

In [66]:
print(f"Welcome {Full_name} to Nasir's Class")

Welcome Divya Prakash to Nasir's Class

In [67]:
age=12

In [68]:
print(f"Welcome {Full_name} to Nasir's Class you are {age} years old ")

Welcome Divya Prakash to Nasir's Class you are 12 years old

In [69]:
first_name=input("Enter your First Name- ")
last_name=input("Enter your Last Name- ")
age=int(input("Enter your age- "))
full_name=(first_name + " " + last_name)

print(f"Hello {full_name} welcome to class your are {age} years old and you'll be {age+20} in 20 years")

Enter your First Name- SAIDEVA
Enter your Last Name- NATHI
Enter your age- 23
Hello SAIDEVA NATHI welcome to class your are 23 years old and you'll be 43 in 20 years

# Conditional Statements

# IF

In [75]:
age=int(input("Enter the age : "))

R_age=10

if age<R_age:
    print("You Can Enter")

Enter the age : 3
You Can Enter

# IF ELSE

In [76]:
age=int(input("Enter the age : "))

R_age=10

if age<R_age:
    print("You Can Enter")
    
else:
    print(f"you are {age} yers old so You cant enter Tata bye")

Enter the age : 23
you are 23 yers old so You cant enter Tata bye

# If Elif else

In [78]:
a=int(input("enter the first num: "))
b=int(input("enter the Second num: "))
if b>a:
    print("b is Greater than a ")
    
elif b<a:
    print("b is less then a")

else:
    print("b is equal to a ")

enter the first num: 23
enter the Second num: 23
b is equal to a

# Nested if

In [79]:
score=float(input("Enter the score: "))

if score>=90:
    grade="A"
    
else:
    if score>=80:
        grade="B"
    else:
        
        if score>=70:
            grade="C"
        else:
            grade="D"
print(grade)

Enter the score: 70
C

# While

In [1]:
i=0
while i<6:
    print(i)
    i=i+1

0
1
2
3
4
5

In [ ]:
a=[20,23,24,26,28,29]

In [76]:
i=2
for i in a:
    print(i+2)
    print("hello")

22
hello
25
hello
26
hello
28
hello
30
hello
31
hello

# Break

In [2]:
i=0

while i<50:
    print(i)
    
    if i==12:
        break
        
    i+=1

0
1
2
3
4
5
6
7
8
9
10
11
12

In [78]:
i=0

while i<6:
    i+=1
    
    if i == 3:
        continue
    print(i)

1
2
4
5
6

# Funtions

##### Functions are blocks of reusable code that perform specific tasks. 
##### They help you organize your code into modular sections, making it easier to read and maintain. 
##### You define a function using the def keyword, followed by the function name and parameters. Functions can return values using the return statement

In [4]:
def add(x,y):
    sum=x+y
    return sum

In [5]:
def fun_name(x,y):
    sum=x+y
    return sum

In [6]:
add(12,13)

25

In [80]:
add(1,345)

346

In [81]:
add(5,3)

8

# Key Word Argument

In [4]:
def greet(name, age):
    print(f"{age}, {name}!")

In [5]:
greet(age=20,name='Daniel')

20, Daniel!

In [6]:
def greet(name,age):
    print(f' Hi {name} you are {age} years old')

In [7]:
greet(age=23,name="Sai")

 Hi Sai you are 23 years old

# Default Argument

In [7]:
def greet(name,greetings="Hi"):
    print(f" {greetings} {name} ")

In [13]:
greet("prakash")

 Hi prakash

In [87]:
def greet_1(name,greetings):
    print(f"{greetings} {name}")

In [88]:
greet_1('Bindu',"Hi")

Hi Bindu

In [89]:
greet("prakash",'Hello')

 Hello prakash

# Arbitrary Argument

In [9]:
def sum_num(*arg):
    total=0
    for num in arg:
        total=total+num
    return total

In [10]:
sum_num(1,2)

3

In [12]:
sum_num(1,2,3,4,5,6,34,454,6,6,6,67,8,11,232,9,10,11,12)

887

# Key Word Arbitrary Argument

In [93]:
def dis_info(**kwargs):
    for key,value in kwargs.items():
        print(f'{key} : {value}')

In [94]:
dis_info(name="Avinash",age=100,city="bang")

name : Avinash
age : 100
city : bang

In [95]:
dis_info(name="jinshi",age=10,city="kerla",phno="+10101")

name : jinshi
age : 10
city : kerla
phno : +10101

# List

In [13]:
lst=[10,20,30,40,"apple",[50,60,70,80],90]

In [14]:
lst

[10, 20, 30, 40, 'apple', [50, 60, 70, 80], 90]

In [16]:
lst[4][3]

'l'

In [99]:
lst[4]

'apple'

In [100]:
lst_1=list(range(1,20))

In [101]:
lst_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [102]:
lst.append("Orange")

In [103]:
lst

[10, 20, 30, 40, 'apple', [50, 60, 70, 80], 90, 'Orange']

In [104]:
lst.insert(5,60)

In [105]:
lst

[10, 20, 30, 40, 'apple', 60, [50, 60, 70, 80], 90, 'Orange']

In [106]:
lst.count(60)

1

In [107]:
lst.reverse()

In [108]:
lst

['Orange', 90, [50, 60, 70, 80], 60, 'apple', 40, 30, 20, 10]

### Tuple

In [109]:
tuple_1=(10,20,30,40,50,60,70,80,90)

In [110]:
tuple_1

(10, 20, 30, 40, 50, 60, 70, 80, 90)

#### We can join two tuples:

In [19]:
tuple_2=(90,99,34,45,65,44,80,70,60,50,40,30,20,10)

In [20]:
tuple_1=99,34,45,65,44,80

In [21]:
tuple_1+tuple_2

(99,
 34,
 45,
 65,
 44,
 80,
 90,
 99,
 34,
 45,
 65,
 44,
 80,
 70,
 60,
 50,
 40,
 30,
 20,
 10)

In [113]:
tuple_1

(10, 20, 30, 40, 50, 60, 70, 80, 90)

In [114]:
tuple_1.count(3)

0

In [115]:
tuple_1.index(20)

1

### Set

In [116]:
set={}

In [117]:
set

{}

In [118]:
set={10,20,30,40,(10,20,30,40),3.4555,"Tuple"}

In [119]:
set.add(2003)
set

{(10, 20, 30, 40), 10, 20, 2003, 3.4555, 30, 40, 'Tuple'}

In [120]:
set_1=set.copy()

In [121]:
set_1

{(10, 20, 30, 40), 10, 20, 2003, 3.4555, 30, 40, 'Tuple'}

In [122]:
set_2={(10, 20, 30, 40), 10, 20, 2003}
set_2

{(10, 20, 30, 40), 10, 20, 2003}

In [123]:
set_3=set_1.difference(set_2)

In [124]:
set_3

{3.4555, 30, 40, 'Tuple'}

In [125]:
set_union=set_3.union(set_2)
set_union

{(10, 20, 30, 40), 10, 20, 2003, 3.4555, 30, 40, 'Tuple'}

In [126]:
set_1.discard((10, 20, 30, 40))

In [127]:
set_1

{10, 20, 2003, 3.4555, 30, 40, 'Tuple'}

### Dictionary:

In [23]:
dict={"name":"SaidevaGoud Nathi","Age":24}

In [24]:
dict.get("name")

'SaidevaGoud Nathi'

In [25]:
dict.popitem()

('Age', 24)

In [26]:
dict.values()

dict_values(['SaidevaGoud Nathi'])

In [27]:
d = dict()

TypeError: 'dict' object is not callable

# as we can see dict is not callable..